<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>
    
</head>
<body>

<div ng-app="myApp">
    <div ng-controller="myController">
       
        <p>Hello! {{fname}} {{mname}} {{lname}}</p>
        
        <input type="text" ng-model="fname" placeholder="Type your first name"><br><br>
        <input type="text" ng-model="mname" placeholder="Type your middle name"><br><br>
        <input type="text" ng-model="lname" placeholder="Type your last name">
        
    </div>
</div>

</body>
</html>